<div class="container">
  <h5 class="d-flex justify-content-center">Application management de notre entreprise</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/departement" class="m-1 btn btn-light btn-outline-primary">Departments</a>
      </li>
      <li class="nav-item">
        <a href="/employee" class="m-1 btn btn-light btn-outline-primary">Employees</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
